{% extends 'partials/base.html '%}
{%block title %} PASSWORD RESET COMPLETE PAGE {%endblock%}
{%load crispy_forms_tags %}

{%block content%}

<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="border p-3 btn-dark">
                <h3>PASSWORD RESET</h3>
                <hr>
                <div class="alert alert-success">
                    <h4> Password Reset Succesfully </h4>
                </div>   
                <a class="btn btn-success" type="submit" href="{%url 'user-login'%}"> Login </a>                
            </div>
        </div> 
    </div>
</div>
 


{% endblock %}